torch
torchvision
opencv-python
PyYAML
tqdm
seaborn
gradio
boto
certifi
chardet
cycler
dataclasses
future
idna
kiwisolver
matplotlib
numpy
opencv-python
openpifpaf
pandas
Pillow
pyparsing
pysparkling
python-dateutil
python-json-logger
pytz
requests
scipy
six
torch
torchvision
urllib3